@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h4 class="text-center">Monitor and prioritize your current tasks with Stephen Covey's 4 Quadrants</h4>
    <br />
    <br />
    <br />
    <img src="~/images/Covey-Matrix-simple-Sept-2021.png" width="600" height="350" />
</div>
